<h1>You have requested a password reset</h1>
<p>
  To sign in and reset your password, please follow this link:
  <%= link_to @reset_password_url, @reset_password_url %>
</p>
<p>It's good to have you back!</p>
